.example-spacer {
    flex: 1 1 auto;
}

.mat-icon {
    font-size: 24px;
}

table {
    width: 100%;
    background-color: lighten($color: #000000, $amount: 20);
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 800px;
}
 
.container {
    max-width: 1800px;
    margin: 0 auto;
}